@import url("https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,800,1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .scrollbar-hidden::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .scrollbar-hidden {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

* > *,
body,
html {
  font-family: "Clash Display", sans-serif;
}

.fade-in-down {
  animation: fadeInDown 0.5s ease-in-out;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(-200px);
  }
}
/* Add this to your CSS file */

// .div {
//   background: radial-gradient(
//     50% 50% at 50% 50%,
//     rgba(255, 255, 255, 0.5) 0%,
//     rgba(255, 255, 255, 0) 100%
//   );
//   border-radius: 191.1px;
//   box-shadow: 0px 0px 37.8px #ffffff99, 0px 0px 75.6px #ffffff99,
//     0px 0px 264.61px #ffffff66, 0px 0px 529.23px #ffffff99,
//     0px 0px 907.25px #ffffffcc, 0px 0px 1587.68px #ffffff;
//   height: 382px;
//   left: 1646px;
//   position: absolute;
//   top: 2357px;
//   transform: rotate(99.09deg);
//   width: 382px;
// }

.bgImage {
  background: linear-gradient(0deg, #000 6.08%, rgba(0, 0, 0, 0) 90.77%),
    url("/images/BillboardMainBig.webp"),
    lightgray -2.954px -300.855px / 119.539% 136.153% no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 768px) {
    background: linear-gradient(0deg, #000 15.08%, rgba(0, 0, 0, 0) 90.77%),
      url("/images/BillboardMain.webp"),
      lightgray -2.954px -300.855px / 119.539% 136.153% no-repeat;
    background-position: center;
    background-size: cover;
  }
}

// .ourStoryBg {
//   position: relative;
//   &::before {
//     content: url("/icons/ourstorybgimage.svg");
//     background-image: url("");
//     background-position: center;
//     background-size: cover;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//   }
// }

.container {
  display: flex;
  justify-content: flex-start;
  transition: justify-content 0.5s ease;
}

#movingImage {
  transition: transform 0.5s ease; /* Adding transition for smooth animation */
}

.hero {
  font-family: "Montserrat", sans-serif;
}

.visionParagraph {
  font-family: "Montserrat", sans-serif;
}
.founderCard {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.06);
}

.grindItemBox {
  border-radius: 20px;
  background: #fff;
  border-radius: 20px;
  position: relative;
  box-shadow: 15px 15px 1px -3px #999999;
  position: relative;
  z-index: -10;
  // &:nth-child(1) {
  //   &::before {
  //     content: "";
  //     z-index: 999999;
  //     background-image: url("/icons/line.svg");
  //     background-repeat: no-repeat;
  //     background-size: contain;
  //     position: absolute;
  //     top: 50%;
  //     right: -24%;
  //     width: 80px;
  //     height: 60px;
  //   }
  // }
}

.grindItemBoxWithNedu {
  border-radius: 20px;
  border: 1.5px solid rgba(153, 153, 153, 0.2);
  background: #fff;
  border-radius: 20px;
  position: relative;
  z-index: 1000;
  box-shadow: 15px 15px 1px -3px #ff980e;
}

.neduAiGrind {
  position: relative;
  @media screen and (max-width: 768px) {
    &::before {
      content: "";
      position: absolute;
      width: 200px;
      height: 100%;
      background: linear-gradient(
        0deg,
        #000 6.08%,
        rgba(0, 0, 0, 0.6) 50.1%,
        rgba(0, 0, 0, 0) 90.77%
      );

      transform: rotate(-90deg);
      right: -10%;
      z-index: 10;
    }
  }
}
// .dottedBackground {
//   background-image: url("/icons/dottedVector.svg");
//   background-position: center;
//   background-repeat: repeat;
//   background-size: cover;
// }

// .grindGradient {
//   background: linear-gradient(0deg, #000 6.08%, rgba(255, 255, 255, 0.8) 90.77%),
//     url("/icons/ellipse.svg"), no-repeat;

//   background-position: left;
//   background-size: 10vw;
// }

// .DashboardBefore {
//   background-image: url("/icons/Frame.png");
//   background-repeat: repeat;
//   width: 100%;
//   height: 100%;

//   // background-position: ;
//   &::before {
//     content: url("/icons/Realtimejobtraking.webp");
//     position: absolute;
//     bottom: 20%;
//     left: -30%;
//     transform: scale(0.25);
//   }
// }
// .DashboardBefore1 {
//   &::before {
//     content: url("/icons/FollowUp.webp");
//     position: absolute;
//     bottom: -37%;
//     right: 12%;
//     transform: scale(0.25);
//   }
// }
// .DashboardBefore2 {
//   &::before {
//     content: url("/icons/talentAssessment.webp");
//     position: absolute;
//     top: -20%;
//     left: -32%;
//     transform: scale(0.25);
//   }
// }
// .DashboardBefore3 {
//   position: relative;
//   &::before {
//     content: url("/icons/callender.webp");
//     position: absolute;
//     top: -8%;
//     right: -48%;
//     transform: scale(0.25);
//   }
// }

// youth empowerment

.youthEmpowerment {
  position: relative;
  overflow: hidden;
  &::before {
    content: url("/icons/vector.svg");
    position: absolute;
    right: 0%;
    z-index: 10;
    top: 20%;
  }
}
