@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
  font-family: "Clash Display", sans-serif;
}

.bgImage {
  background: linear-gradient(0deg, #000 6.08%, rgba(0, 0, 0, 0) 90.77%),
    url("/images/Billboard Main.webp"),
    lightgray -2.954px -300.855px / 119.539% 136.153% no-repeat;

  background-position: center;
  background-size: cover;
}

.hero {
  font-family: "Montserrat", sans-serif;
}
