@import url("https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,800,1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .scrollbar-hidden::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .scrollbar-hidden {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.youthBgTop {
  height: 35vw;
  background: linear-gradient(
    180deg,
    #000 6.08%,
    rgba(0, 0, 0, 0.6) 50.1%,
    rgba(0, 0, 0, 0) 90.77%
  );
}
.youthBgBottom {
  height: 35vw;
  background: linear-gradient(
    0deg,
    #000 6.08%,
    rgba(0, 0, 0, 0.6) 50.1%,
    rgba(0, 0, 0, 0) 90.77%
  );
}

// timeline linearGradient

@media screen and (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }
}

@media screen and (max-width: 398px) {
  .Advisory {
    &::after {
      position: absolute;
      bottom: 1% !important;
      right: 2% !important;
    }
  }
  .Advisory {
    &::before {
      position: absolute;
      top: 3% !important;
      left: 3% !important;
    }
  }
}

* > *,
body,
html {
  font-family: "Clash Display", sans-serif;
}

.fade-in-down {
  animation: fadeInDown 0.5s ease-in-out;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(-200px);
  }
}

.bgImage {
  background: linear-gradient(0deg, #000 6.08%, rgba(0, 0, 0, 0) 90.77%),
    url("/images/BillboardMainBig.webp"),
    lightgray -2.954px -300.855px / 119.539% 136.153% no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: flex-start;
  transition: justify-content 0.5s ease;
}

#movingImage {
  transition: transform 0.5s ease; /* Adding transition for smooth animation */
}

.hero {
  font-family: "Montserrat", sans-serif;
}

.visionParagraph {
  font-family: "Montserrat", sans-serif;
}
.founderCard {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.06);
}

.grindItemBox {
  border-radius: 20px;
  background: #fff;
  border-radius: 20px;
  position: relative;
  box-shadow: 15px 15px 1px -3px #999999;
  position: relative;
  z-index: -10;
}

.grindItemBoxWithNedu {
  border-radius: 20px;
  border: 1.5px solid rgba(153, 153, 153, 0.2);
  background: #fff;
  border-radius: 20px;
  position: relative;
  z-index: 1000;
  box-shadow: 15px 15px 1px -3px #ff980e;
}

.neduAiGrind {
  position: relative;
  @media screen and (max-width: 768px) {
    &::before {
      content: "";
      position: absolute;
      width: 200px;
      height: 100%;
      background: linear-gradient(
        0deg,
        #000 6.08%,
        rgba(0, 0, 0, 0.6) 50.1%,
        rgba(0, 0, 0, 0) 90.77%
      );

      transform: rotate(-90deg);
      right: -10%;
      z-index: 10;
    }
  }
}
.youthEmpowerment {
  position: relative;
  overflow: hidden;
  &::before {
    content: url("/icons/vector.svg");
    position: absolute;
    right: 0%;
    z-index: 10;
    top: 20%;
  }
}

//vision
// .section-with-animated-border {
//   position: relative;
//   overflow: hidden;
// }

// .section-with-animated-border::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 0;
//   background-color: #c87200;
//   z-index: -1;
//   animation: borderAnimation 1s ease-in-out forwards;
// }
